@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Add mechanic to: @Html.DisplayFor(model => model.Name)</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select Mechanic")
    @Html.DropDownList("MechanicId")
    <br>

    <input type="submit" value="Add" class="btn btn-lg btn-info" style="margin-top: 4%;"/>
}

<p>@Html.ActionLink("Back to Machines", "Index")</p>