@{
  Layout = "_Layout";
}

<h1>Delete Machine</h1>
@model Factory.Models.Machine

<ul>
  <li>Id: @Html.DisplayFor(model => model.MachineId)</li>
  <li>Name: @Html.DisplayFor(model => model.Name)</li>
</ul>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  <input type="submit" value="Delete">
}

<p>@Html.ActionLink("Back to Machines", "Index")</p>
<p>@Html.ActionLink("Main Menu", "Index", "Home")</p
