@{
  Layout = "_Layout";
}

@model Factory.Models.Mechanic

<h1>Enter Mechanic Info Below</h1>
@using (@Html.BeginForm())
{
  @Html.DisplayFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new {placeholder= "Mechanic Name"})
  <input type="Submit" value="Add">
}

<p class="enlarge">@Html.ActionLink("Back to Mechanics", "Index")</p>
<p class="enlarge">@Html.ActionLink("Main Menu", "Index", "Home")</p>