@{
  Layout = "_Layout";
}

<h1>Delete Mechanic</h1>
@model Factory.Models.Mechanic

<ul>
  <li>Id: @Html.DisplayFor(model => model.MechanicId)</li>
  <li>Name: @Html.DisplayFor(model => model.Name)</li>
</ul>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MechanicId)
  <input type="submit" value="Delete">
}

<p>@Html.ActionLink("Back to Mechanics", "Index")</p>
<p>@Html.ActionLink("Main Menu", "Index", "Home")</p
