@{
  Layout = "_Layout";
}

<h1>Mechanic Details</h1>

@model Factory.Models.Mechanic
@using Factory.Models

<h2>@Html.DisplayFor(model => model.Name)</h2>

@if (@Model.Machines.Count == 0)
{
  <p>This mechanic has no machines yet..</p>
  <p class="enlarge">@Html.ActionLink("Add Machine", "Create", "Machines")</p>
} 
else
{
  <h3>Machines:</h3>
  <ul>
    @foreach (Machine machine in Model.Machines)
    {
      <li>@Html.ActionLink($"{machine.Name}", "Details", "Machines", new { id = machine.MachineId })</li>
    }
  </ul>
}

<p class="enlarge">@Html.ActionLink("Edit", "Edit", new { id = @Model.MechanicId})</p>
<p class="enlarge">@Html.ActionLink("Delete Mechanic", "Delete", new { id = Model.MechanicId})</p>
<p class="enlarge">@Html.ActionLink("Back to Mechanics", "Index")</p>
<p class="enlarge">@Html.ActionLink("Main Menu", "Index", "Home")</p>